.Card {
    border-color: black;
    border-width: 3px;
    background-color: rgb(216, 216, 216);
    display: block;
    float: left;
    width: 250px;
    margin: 5px;    
}

.Title {
    font-size: 1em;
    font-weight: bold;
}

.Year {
    font-size: 0.75em;
}